.Display {
  display: flex;
  background-color: #282c34;
  color: white;
  min-height: 50px;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 32px;
  padding: 5px 10px;
}